<section class="information">
  <div class="title-section">
    <h2>Sobre Nosotros:</h2>
  </div>
  <div class="infos">
    <div class="short-info">
      <h3>Moda y Estilo</h3>
      <p>
        En Ensigna nos especializamos en ofrecer moda masculina contemporánea
        que combina elegancia y modernidad. Nuestros diseños están pensados para
        resaltar la personalidad de cada hombre y marcar tendencia.
      </p>
    </div>
    <div class="short-info">
      <h3>Calidad Superior</h3>
      <p>
        Cada prenda es elaborada con materiales de alta calidad, garantizando
        durabilidad y comodidad en cada detalle. Creemos que la excelencia se
        refleja en la calidad de nuestros productos.
      </p>
    </div>
    <div class="short-info">
      <h3>Atención Personalizada</h3>
      <p>
        Nuestro compromiso es brindarte una experiencia única de compra. Nuestro
        equipo de expertos está siempre listo para asesorarte y ayudarte a
        encontrar el estilo perfecto para ti.
      </p>
    </div>
  </div>
  <span></span>
</section>
