<header class="header-box">
  <div class="social-media">
    <a
      href="https://www.instagram.com/darioflo_?igsh=MXNueXMwaXlmZXBjdA%3D%3D&utm_source=qr"
      target="_blank"
      class="social-link"
    >
      <i class="fab fa-instagram"></i>
    </a>
    <a
      href="https://www.facebook.com/share/1AEvGMReLK/?mibextid=wwXIfr"
      target="_blank"
      class="social-link"
    >
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://www.youtube.com" target="_blank" class="social-link">
      <i class="fab fa-youtube"></i>
    </a>
  </div>
  <div class="marca">
    <div class="logo">
      <a routerLink="/"
        ><img src="LOGO3-removebg-preview.png" alt="imagen"
      /></a>
    </div>
    <div class="enlaces">
      <a routerLink="/products">Products</a>
      <a routerLink="/clients">Clientes</a>
      <a routerLink="/locations">Localizaciones</a>
      <a routerLink="/shopServices">Servicios</a>
    </div>
  </div>
  <div class="usuario">
    <a routerLink="/login" class="user-link">
      <i class="fas fa-sign-in-alt"></i>
    </a>
    <a routerLink="/register" class="user-link">
      <i class="fas fa-user-plus"></i>
    </a>
  </div>
</header>
