<div class="div-filter">
  <app-search></app-search>
  <div class="filters-toggles">
    <app-filter-by-category
      [dropdownCategory]="dropdownCategory"
      [dropdownPrice]="dropdownPrice"
      (toggleCategory)="toggleCategoryMenu()"
      (togglePrice)="togglePriceMenu()"
    ></app-filter-by-category>
    <app-filter-by-price
      [dropdownCategory]="dropdownCategory"
      [dropdownPrice]="dropdownPrice"
      (toggleCategory)="toggleCategoryMenu()"
      (togglePrice)="togglePriceMenu()"
    ></app-filter-by-price>
  </div>
</div>
