.div-filter {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  gap: 25rem;
}
.filters-toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 25rem;
  height: auto;
  align-self: flex-end;
}
