<app-header></app-header>
<app-filters></app-filters>
<ng-container
  *ngIf="this.productServices.showProductSearched"
  ;
  else
  #elseBlock
>
  <section class="products-section">
    <div class="title">
      <h2>
        {{`Resultados de la búsqueda:`}}
      </h2>
    </div>
    <app-card-product
      *ngFor="let productSearch of productSearched"
      [product]="productSearch"
    >
    </app-card-product>
  </section>
</ng-container>
<section class="products-section" #elseBlock>
  <ng-container
    *ngIf="
      productServices.showCategory ||
        productServices.showProductsForPrice ||
        productServices.showProductSearched;
      else allProducts
    "
  >
    <div class="title">
      <h2>
        {{productServices.showCategory ? ` Nuestros Productos de: ${categoryName}` : 'Productos por precio:' }}
      </h2>
    </div>
    <app-card-product
      *ngFor="let product of filteredProducts"
      [product]="product"
    ></app-card-product>
  </ng-container>
  <ng-template #allProducts>
    <div class="title"><h2>Nuestros Productos:</h2></div>
    <app-card-product
      *ngFor="let product of products"
      [product]="product"
    ></app-card-product>
  </ng-template>
</section>
<app-footer [ngClass]="{ none: !products }"></app-footer>
