.products-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-flow: row wrap;
}

.title {
  width: 100%;
  height: auto;
  text-align: center;
  color: rgb(236, 223, 204);
  font-size: 2rem;
}

.black {
  color: rgb(105, 117, 101);
}
