<app-header></app-header>
<div class="section-services">
  <div class="services-container">
    <div class="service">
      <h3>Envíos Rápidos</h3>
      <p>
        Ofrecemos envíos rápidos y seguros a cualquier parte del país, para que
        recibas tus productos en el menor tiempo posible.
      </p>
    </div>
    <div class="service">
      <h3>Atención Personalizada</h3>
      <p>
        Nuestro equipo está disponible para ayudarte con cualquier consulta o
        recomendación que necesites.
      </p>
    </div>
    <div class="service">
      <h3>Calidad Garantizada</h3>
      <p>
        Todos nuestros productos están fabricados con materiales de alta
        calidad, garantizando durabilidad y estilo.
      </p>
    </div>
    <div class="service">
      <h3>Devoluciones Fáciles</h3>
      <p>
        Si no estás satisfecho con tu compra, ofrecemos un proceso de
        devoluciones rápido y sencillo.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
