<div class="dropdown">
  <button class="dropdown-button" (click)="activeDropdownPrice()">
    Precio
  </button>
  <div class="dropdown-content-price" [ngClass]="{ showPrice: dropdownPrice() }">
    <p class="selected" (click)="selectedPriceRange(0, 50)">0 - 25</p>
    <p class="selected" (click)="selectedPriceRange(25, 50)">25 - 50</p>
    <p class="selected" (click)="selectedPriceRange(50, 100)">50 - 100</p>
    <p class="selected" (click)="selectedPriceRange(100, 125)">100 - 125</p>
  </div>
</div>
