<section class="hero-image">
  <div class="opacity">
    <div class="hero-content">
      <h1 class="animate__animated animate__backInLeft">
        {{nombreUsuario ? `Hola ${nombreUsuario}` : "Ensigna"}}
      </h1>
      <h2 class="animate__animated animate__backInRight">
        Moda para el hombre contemporáneo
      </h2>
      <h3 class="animate__animated animate__backInLeft">
        Elegancia que marca la diferencia
      </h3>
      <p class="animate__animated animate__backInRight">
        En Ensigna, nos especializamos en ropa para hombres que buscan calidad,
        innovación y estilo. Nuestra misión es realzar la personalidad de cada
        hombre a través de diseños exclusivos que combinan tradición y
        modernidad. Viste con confianza y distinción, y descubre una experiencia
        única en moda.
      </p>
      <button class="button animate__animated animate__backInRight">
        <p>Explorar</p>
      </button>
    </div>
  </div>
</section>
